img {
    width: 100%; 
    height: auto;
}

#app {
    position: relative;
    margin: 0 auto;
    width: 625px;
    height: 625px;
}

.room {
    position: absolute;
}

.door {
    position: absolute;
}

.tile {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gold;
    border: 1px solid black;
}

.glow {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;*/
    background-color: turquoise;
    border: 1px solid turquoise;
    position: absolute;
    z-index: 1;
    opacity: 0.75;
}